body{
  font-family: roboto, sans-serif;
font-style: normal;
font-weight: 200;
}
.header-logo{
  color:#F9FAF8;
  font-size: 24px;
  
}
.site-header{
  background-color: #1F2937;
}
.site-header__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  nav a{
    margin-left: 36px;
    color: #e5e7eb;
    font-size: 18px;

  }
  .main-area{
    display : flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    border: 5px solid black;
  }
  .main-area-item{
    border: 3px solid blue;
    height: 150px;
    flex: 0 1 auto;
  }
  .main-area-image{
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 3px solid blueviolet;
    
  }
  .main-image{
    border: 3px solid brown

  }